themes {
    current {
        fg "#4c4f69"
        bg "#eff1f5"
        black "#eff1f5"
        red "#d20f39"
        green "#40a02b"
        yellow "#df8e1d"
        blue "#1e66f5"
        magenta "#ea76cb"
        cyan "#179299"
        white "#4c4f69"
        orange "#ea76cb"
    }
}
