themes {
    current {
        fg "#bebebe"
        // bg is Zellij's mouse-selection background (black is the pane background)
        bg "#333333"
        black "#121212"
        red "#D35F5F"
        green "#FFC107"
        yellow "#b91c1c"
        blue "#e68e0d"
        magenta "#D35F5F"
        cyan "#bebebe"
        white "#bebebe"
        orange "#eaeaea"
    }
}
