themes {
    current {
        fg "#dcd7ba"
        // bg is Zellij's mouse-selection background (black is the pane background)
        bg "#54546d"
        black "#1f1f28"
        red "#c34043"
        green "#76946a"
        yellow "#c0a36e"
        blue "#7e9cd8"
        magenta "#957fb8"
        cyan "#6a9589"
        white "#dcd7ba"
        orange "#7aa89f"
    }
}
